/* _wireframe.scss */
// @imports all SASS partials from /wireframe folder.
// contains temporary styles for website use in pre-development.
// before beginning development, comment out this file in _components.scss

// @import 'wireframe/layout-wireframe';
// @import 'wireframe/elements-wireframe';

.divider {
	height: 1px;
	width: 20%;
	display: block;
	margin: 25px auto;
  @include breakpoint($small-screen-max) {
    width: 10%;
  }
	&.light {
		background-color: $light-grey;
	}
	&.dark {
		background-color: $xdark-grey;
	}
  &.hidden {
    display: none;
  }
}

h2,
div.bridesmaids h3,
div.groomsmen h3 {
	color: $xdark-grey;
}

header,
// section:not(.bridalparty):not(.rsvp):not(.registry) {
section.ourstory {
	min-height: 700px;
}

div.bridesmaids,
div.groomsmen {
  min-height: 350px;
}

// header,
section.event,
div.bridesmaids,
section.rsvp {
	background-color: $grey;
}

div.groomsmen {
  background-color: $dark-grey;
}

section.ourstory {
	// height: 700px;
	// background-color: $xdark-grey;
}

section.event {
  @include breakpoint($small-screen-max) {
    min-height: 800px;
  }
  @include breakpoint($narrow-screen) {
    min-height: 650px;
  }
  @include breakpoint($odd-screen) {
    min-height: 600px;
  }
  .sidebar {
    .countdown {
      background-color: $light-grey;
      width: 100%;
      display: block;
      margin: 0 auto;
      @include breakpoint($small-screen-max) {
        width: 75%;
      }
      @include breakpoint($odd-screen) {
        width: 90%;
      }
      @include breakpoint($standard-screen) {
        width: 80%;
      }
      .time-container {
        div {
          // height: 50px;
          background-color: white;
          border: 1px solid $grey;
        }
      }
    }
    .divider {
      width: 40%;
    }
  }
}

// section.googlemap {
//   min-height: 300px;
//   background-color: $light-grey;
// }

div.bridesmaids,
div.groomsmen {
  div.profilepic {
    div.picture {
      img,
      svg {
        @include brightness(0);
        @include grayscale();
        path {
          fill: $light-grey;
          stroke-width: 0;
        }
      }
    }
  }
}
section.bridalparty div.bridesmaids {
  .slick-carousel.bridesmaids {
    div.party--information {
      svg {
        fill: $dark-grey;
        &#drop,
        &.svg--drop {
          path {
            &:nth-child(2) {
              stroke: $grey;
              fill: $grey;
            }
          }
        }
      }
    }
  }
}
section.bridalparty div.groomsmen {
  .slick-carousel.groomsmen {
    div.party--information {
      svg {
        &#drop,
        &.svg--drop {
          path {
            &:nth-child(2) {
              stroke: $dark-grey;
              fill: $dark-grey;
            }
          }
        }
      }
    }
  }
}

section.rsvp {
  .sidebar {
    .divider {
      width: 40%;
    }
    .meal-options {
      ul li {
        background-color: $light-grey;
      }
    }
  }
}

section.gallery {
  .container {
    .row {
      .cell {
        height: 240px;
        border: 1px solid $xdark-grey;
      }
      &.row--odd {
        .cell {
          &.cell--odd {
            background-color: $dark-grey;
          }
          &.cell--even {
            background-color: $grey;
          }
        }
      }
      &.row--even {
        .cell {
          &.cell--odd {
            background-color: $grey;
          }
          &.cell--even {
            background-color: $dark-grey;
          }
        }
      }
    }
  }
}

footer {
  background-color: $light-grey;
  .credits div {
    p {
      color: $xdark-grey;
    }
    &.copyright {
      border-right: 1px solid $xdark-grey;
    }
  }
}

.hearts {
  svg {
    // &.dark-grey,
    // &.light-grey {
      path { 
        mix-blend-mode: normal !important;
      }
    // }
    &.dark-grey {
      path {
        fill: $dark-grey;
      }
    }
    &.light-grey {
      path {
        fill: $light-grey;
      }
    }
  }
}


