/* layout/_content.scss */

/* @content section */

.sidebar {
	width: 100%;
	float: none;
  @include breakpoint($small-screen-max) {
    float: right;
  }
  @include breakpoint($odd-screen) {
    width: 50%;
    float: left;
  }
}

.event {
  .sidebar {
    &.side-right {
      padding-right: 0;
      @include breakpoint($standard-screen) {
        padding-right: 5%;
      }
      @include breakpoint($wide-screen) {
        padding-right: 10%;
      }
    }
  }
}
