/* layout/_footer.scss */

/* @footer section */

footer {
  padding: 10px 0;
  font-size: ms(-1);
  background-color: $brand7;
  .credits {
    text-align: center;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 5px;
    div {
      display: inline-block;
      &.copyright {
        display: inline-block;
        width: 100%;
        @include breakpoint($standard-screen) {
          width: auto;
          padding-right: 20px;
          margin-right: 10px;
          border-right: 1px solid $light-grey;
        }
      }
      &.madeby {
        margin-right: 6%;
        @include breakpoint($standard-screen) {
          margin-right: 0;
        }
      }
      p {
        margin: 0;
        color: $light-grey;
      }
      a {
        position: relative;
        text-decoration: none;
        color: white;
        font-family: 'caviar_dreamsbold';
        padding: 0 5px;
        @extend %transition;
        svg {
          position: absolute;
          top: 100%;
          bottom: -100%;
          left: 65%;
          margin: auto;
          path {
            fill: white;
            @extend %transition;
          }
        }
        &:hover {
          color: $dark-grey;
          @extend %transition;
          svg path {
            fill: $dark-grey;
            @extend %transition;
          }
        }
      }
    }
  }
}