/* layout/_header.scss */

/* @header section */

body.mobile {
  div.logo {
    float: left;
    margin: 10px 25px;
  }

  header {
    .mobilemenu {
      position: relative;
      background-color: white;
      display: inline-block;
      width: 100%;
    }
    .head {
      position: fixed;
      display: inline-block;
      right: 0;
      z-index: 999999;
    }
  }
}

header {
  position: relative;
  min-height: 100vh;
  background-color: rgba(black,.2);
  background: url(../../images/temp/pexels/pexels-photo-40525.jpeg) no-repeat fixed center center;
  background-size: cover;
}

body.rsvp-list {
  header {
    min-height: 50vh;
    background-image: url(../../images/temp/pexels/pexels-photo-40525.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba($blue,.3);
    background-position: center center;
    background-blend-mode: hard-light;
  }
}