div.parallax {
  position: relative;
  min-height: 100vh;

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(black,.2);
  background-size: cover;

  &.parallax--1 {
    background-image: url(../../images/temp/pexels/pexels-photo-196666.jpeg);
  }
  &.parallax--2 {
    background-image: url(../../images/temp/pexels/pexels-photo-794254.jpeg);
  }
}