.hearts {
  position: relative;
  display: block;
  width: 30%;
  height: 20px;
  margin: 10px auto 20px;
  @include breakpoint($standard-screen) {
    width: 10%;
    margin: 0 auto 20px;
  }
  &:before,
  &:after {
    position: absolute;
    content: '\00a0';
    width: 75%;
    margin-top: -10px;
    border-bottom: .05em solid $dark-grey;
    z-index: 0;
  }
  &:before {
    right: 80%;
  }
  &:after {
    left: 80%;
  }
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 18%;
    max-width: 100%;
    max-height: 100%;
    // z-index: 1;

    &.multiply path { mix-blend-mode: multiply; }
    &.screen path { mix-blend-mode: screen; }
    &.overlay path { mix-blend-mode: overlay; }
    &.darken path { mix-blend-mode: darken; }
    &.lighten path { mix-blend-mode: lighten; }
    &.color-dodge path { mix-blend-mode: color-dodge; }
    &.color-burn path { mix-blend-mode: color-burn; }
    &.hard-light path { mix-blend-mode: hard-light; }
    &.difference path { mix-blend-mode: difference; }
    &.exclusion path { mix-blend-mode: exclusion; }
    &.hue path { mix-blend-mode: hue; }
    &.saturation path { mix-blend-mode: saturation; }
    &.color path { mix-blend-mode: color; }
    &.luminosity path { mix-blend-mode: luminosity; }
    &.soft-light path { mix-blend-mode: soft-light; }

    &.blue,
    &.dark-grey {
      // right: 10%;
      right: 8.6%;
      path {
        fill: $blue
      }
    }
    &.teal,
    &.light-grey {
      // left: 10%;
      left: 8.7%;
      path {
        fill: $light-blue;
      }
    }
    &.white {
      z-index: 0;
      path {
        // fill: $light-grey;
        fill-opacity: .3;
      }
      &.teal {
        path {
          fill: tint($light-blue,80%);
        }
      }
      &.blue {
        path {
          fill: tint($blue,80%);
        }
      }
    }
  }
}