#loader {
  opacity: 1;
  // display: none;
  visibility: visible;
  #particles-background {
    background: $blue;
    background-image: -moz-linear-gradient(45deg, $blue 2%, $teal 90%);
    background-image: -webkit-linear-gradient(45deg, $blue 2%, $teal 90%);
    background-image: linear-gradient(45deg, $blue 2%, $teal 90%);
  }
  &.loaded {
    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity 2s, visibility .5s linear;
    transition: opacity 2s, visibility .5s linear;
    transition-delay: 2s;
  }
  svg {
    padding-bottom: 5px;
  }
}

.loading {
  // overflow-x: hidden; 
  // overflow-y: hidden;
}
