/* objects/_titles.scss */

div.title {
	text-align: center;
	h2,
	h3 {
		font-size: ms(4) !important;
    font-family: $font6;
    color: $xdark-grey;
    @include breakpoint($narrow-screen) {
      // font-size: 3em !important;
      font-size: ms(5) !important;
    }
	}
}