// @colour palettte  ==============================================
// using color names as variables is fine.

// greys
$xlight-grey: #ececec;
$light-grey: #e1e1e1;
$grey: #bebebe;
$dark-grey: #9d9d9d;
$xdark-grey: #707070;

// ui colours for shadows, borders, etc. Can be used on their own, or part of mixins or placeholders
$ui-borders-color: $dark-grey;
$ui-grey: $dark-grey;


// brand colours

// Pale Yellow
$brand1 : $xlight-grey;
// Pumpkin Orange
$brand2 : $light-grey;
// Paradise Pink
$brand3 : $grey;
// Tyrian Purple
$brand4 : $dark-grey;
// Celadon Green
$brand5 : $xdark-grey;

$teal : #00bebe;
$light-blue : #178ABF;
// $blue : #0100c9;
$blue : #0c4e96;

// Pearl White
$brand6 : #f5f8ff;
// Asphalt Black
$brand7 : #303233;
