// @type settings    ==============================================

// modular scale settings are located in typography/_modular-scale.scss
$xlight: 100;
$lightest: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$boldest: 900;
$xbold: 900;

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../../fonts/caviardreams/caviardreams-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('../../fonts/caviardreams_bold/caviardreams_bold-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams_bold/caviardreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('../../fonts/caviardreams_bolditalic/caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams_bolditalic/caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('../../fonts/caviardreams_italic/caviardreams_italic-webfont.woff2') format('woff2'),
       url('../../fonts/caviardreams_italic/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sunflowers';
  src: url('../../fonts/sunflowers/sunflowers_personal_use-webfont.woff2') format('woff2'),
       url('../../fonts/sunflowers/sunflowers_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signarita_louisse';
  src: url('../../fonts/signarita_louisse/signarita_louisse_thin-webfont.ttf') format('ttf'),
       url('../../fonts/signarita_louisse/signarita_louisse_thin-webfont.woff2') format('woff2'),
       url('../../fonts/signarita_louisse/signarita_louisse_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signarita_louisse_bold';
  src: url('../../fonts/signarita_louisse_bold/signarita_louisse_light-webfont.ttf') format('ttf'),
       url('../../fonts/signarita_louisse_bold/signarita_louisse_light-webfont.woff2') format('woff2'),
       url('../../fonts/signarita_louisse_bold/signarita_louisse_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stea';
  src: url('../../fonts/stea/stea_font-webfont.ttf') format('ttf'),
       url('../../fonts/stea/stea_font-webfont.woff2') format('woff2'),
       url('../../fonts/stea/stea_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Brand Fonts
$font1: 'caviar_dreamsregular', sans-serif;
  $font1-bold: 'caviar_dreamsbold', sans-serif;
  $font1-bolditalic: 'caviar_dreamsbold_italic', sans-serif;
  $font1-italic: 'caviar_dreamsitalic', sans-serif;
$font2: 'Montserrat', sans-serif;
$font3: 'Roboto', sans-serif;
$font4: 'sunflowers', sans-serif;
$font5: 'signarita_louisse', sans-serif;
  $font5-bold: 'signarita_louisse_bold', sans-serif;
$font6: 'stea', sans-serif;

@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon {
  font-family: 'icomoon';
  speak: none;
  line-height: 1;
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: .4em;
  float: left;
  top: 3px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* =============================================================================
    ICOMOON ICONS
   ========================================================================== */

// icon-star
%icon-star {
  @include icon;
  content: "\f005";
}
// icon-star-o
%icon-star-o {
  @include icon;
  content: "\f006";
}
// icon-check
%icon-check {
  @include icon;
  content: "\f00c";
}
// icon-close
%icon-close {
  @include icon;
  content: "\f00d";
}
// icon-remove
%icon-remove {
  @include icon;
  content: "\f00d";
}
// icon-times
%icon-times {
  @include icon;
  content: "\f00d";
}
// icon-map-marker
%icon-map-marker {
  @include icon;
  content: "\f041";
}
// icon-phone
%icon-phone {
  @include icon;
  content: "\f095";
}
// icon-globe
%icon-globe {
  @include icon;
  content: "\f0ac";
}
// icon-bars
%icon-bars {
  @include icon;
  content: "\f0c9";
}
// icon-navicon
%icon-navicon {
  @include icon;
  content: "\f0c9";
}
// icon-reorder
%icon-reorder {
  @include icon;
  content: "\f0c9";
}
// icon-angle-left
%icon-angle-left {
  @include icon;
  content: "\f104";
}
// icon-angle-right
%icon-angle-right {
  @include icon;
  content: "\f105";
}
// icon-keyboard_arrow_left
%icon-arrow_left {
  @include icon;
  content: "\e314";
}
// icon-keyboard_arrow_right
%icon-arrow_right {
  @include icon;
  content: "\e315";
}


