/* components/_brand.scss */

// brand
.logo {
  display: block;
  width: 30%;
  &.hidden {
    display: none;
  }
  @include breakpoint($small-screen) {
    width: 25%;
  }
  @include breakpoint($medium-screen) {
    // width: auto;
    width: 20%;
    margin-left: 20px;
  }
}

img.logo {
  margin-left: auto;
}

body:not(.mobile) {
  div.logo {
    @include center;
    padding-top: 15px;
  }
}
