/* components/_bridalparty.scss */

section.bridalparty {
  h3 {
    font-weight: inherit;
  }
}

.slick-carousel.bridesmaids,
.slick-carousel.groomsmen {
  position: relative;
  text-align: center;
  height: 100%;
  div.profilepic {
    width: 100%;
    margin-bottom: 20px;
    @include breakpoint($medium-screen) {
      width: 30%;
      float: left;
      margin-top: 65px;
    }
    @include breakpoint($standard-screen) {
      width: 40%;
      margin-bottom: 0;
      margin-top: 5px;
    }
    div.picture {
      height: 150px;
      width: 150px;
      @include breakpoint($odd-screen) {
        height: 200px;
        width: 200px;
      }
      @include breakpoint($standard-screen) {
        height: 250px;
        width: 250px;
      }
      svg {
        #svga-group-facehighlight-single {
          fill-opacity: .4;
        }
        #svga-group-eyesfront-left {
          path:nth-child(2) {
            fill-opacity: .2;
          }
        }
      }
    }
    div.picture {
      float: none;
      display: block;
      margin: 0 auto;
      svg {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
      }
    }
  }
  div.party--information {
    width: 100%;
    background-color: white;
    float: none;
    @extend %outline;
    @include breakpoint($narrow-screen) {
      width: 80%;
    }
    @include breakpoint($medium-screen) {
      width: 50%;
      float: left;
    }
  	@include breakpoint($standard-screen) {
      width: 40%;
    }
    svg {
      &#drop,
      &.svg--drop {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        @include breakpoint($medium-screen) {
          display: block;
        }
        path {
          fill: $light-blue;
        }
      }
    }
    div.name-and-title {
      position: relative;
      padding: 15px;
      background-color: $light-blue;
      h4 {
        color: white;
      }

      -webkit-box-shadow: inset 2px -50px 36px -51px rgba(0,0,0,0.37);
      -moz-box-shadow: inset 2px -50px 36px -51px rgba(0,0,0,0.37);
      box-shadow: inset 2px -50px 36px -51px rgba(0,0,0,0.37);
      .subtitle {
        font-size: ms(-1);
        margin: 0;
        color: white;
      }
    }
    .quote {
      position: relative;
      padding: 30px 0;
      svg {
        position: absolute;
        &.svg--quotes-start {
          top: 30px;
          left: -15px;
          @include breakpoint($standard-screen) {
            left: 0;
          }
        }
        &.svg--quotes-end {
          bottom: 30px;
          right: -15px;
          @include breakpoint($standard-screen) {
            right: 0;
          }

          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        path {
          fill: $blue;
        }
      }
      p {
        width: 60%;
        margin: auto;
        font-size: ms(-1);
        @include breakpoint($standard-screen) {
          width: 65%;
          // font-size: .9em;
        }
      }
    }
  }
}

@import 'bridalparty/bridesmaids';
@import 'bridalparty/groomsmen';

