/* components/_event.scss */

@import 'event/calendar';
@import 'event/countdown';
@import 'event/details';
@import 'event/hotels';

#wedding-date {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: $xdark-grey;
}

section.event {
  .main-content {
    display: inline-block;
    width: 100%;
  }

  .sidebar.side-right {
    margin-top: 0;
    @include breakpoint($odd-screen) {
      margin-top: 34px;
    }
    @include breakpoint($standard-screen) {
      margin-top: 0;
    }
  }
}
