/* components/_gallery.scss */

section.gallery {
  .container {
  	padding: 0;
  	margin: 0;
  	max-width: 100%;
    .row {
      float: left;
      display: block;
      width: 100%;
      .cell {
        float: left;
        width: calc(100% / 2);
        @include breakpoint($small-screen) {
          width: calc(100% / 3);
        }
        @include breakpoint($medium-screen) {
          width: calc(100% / 6);
        }
      }
    }
  }
}