/* components/_ourstory.scss */

section.ourstory {
  height: 600px;
  @include breakpoint($standard-screen) {
    height: 750px;
  }
}

@import 'ourstory/details';
@import 'ourstory/slider';
@import 'ourstory/title-header';