/* components/_registry.scss */

section.registry {
	text-align: center;
	p {
		width: 80%;
		@include center;
		font-size: .9em;
		@include breakpoint($standard-screen) {
			width: 70%;
		}
	}
	img {
		max-width: 55%;
		@include center;
		margin-top: 50px;
		@include grayscale(100%);
		@extend %transition;
		&:hover {
			opacity: 1;
			@include grayscale(0);
			@extend %transition;
		}
		@include breakpoint($narrow-screen) {
			max-width: 40%;
		}
		@include breakpoint($standard-screen) {
			max-width: 22.5%;
		}
	}
}