/* components/_rsvp-list.scss */

@import 'rsvp-list/guest-count';

section.rsvp-list {
  padding: 50px 0;
  ul {
    display: inline-block;
    width: 100%;
    // padding: 0;
    li {
      float: left;
      width: calc((100% - (20px * 2)) / 3);
      font-size: .8em;
      list-style-type: none;
      margin-right: 20px;
      @extend %outline;
      &:nth-child(3n) {
        margin-right: 0;
      }
      .name {
        background-color: $light-blue;
        .fullname {
          font-size: ms(2);
          color: white;
          margin: .2em 0;
        }
      }
      .info,
      .name {
        padding: 10px 20px;
      }
    }
  }
}

div.rsvp--attending,
div.rsvp--unavailable,
div.rsvp--guests {
  padding: 25px 0;
}

div.no-results {
  text-align: center;
  .label {
    color: $blue;
    font-size: .9em;
  }
}