/* components/_rsvp.scss */

@import 'rsvp/form';
@import 'rsvp/meal-options';

section.rsvp {
  // font-size: .8em;
	.sidebar{
		&.side-left {
      width: 100%;
      font-size: 1em;
      @include breakpoint($standard-screen) {
        width: 45%;
        font-size: .8em;
      }
		}
		&.side-right {
			width: 100%;
      margin-top: 15px;
      @include breakpoint($standard-screen) {
        margin-top: 0;
        width: 55%;
      }
		}
	}
  .hearts {
    margin: 40px auto;
    @include breakpoint($standard-screen) {
      margin: 20px auto;
    }
  }
	p.anyquestions {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
    a {
      margin-left: 10px;
      display: inline-block;
      width: auto;
      // margin-left: 0;
      @include breakpoint($standard-screen) {
        // margin-left: 10px;
        width: 100%;
        width: auto;
      }
    }
    font-size: .9em;
	}
}