/* components/event/_calendar.scss */

.viewCalendar {
  width: 100%;
  text-align: center;
  @include center;
  padding: 10px;
  // background-color: $dark-grey;
  background-color: $blue;
  margin-bottom: 30px;
  p {
    margin-bottom: 0;
    // color: $light-grey;
    color: white;
  }
  @include breakpoint($small-screen-max) {
    width: 400px;
  }
  @include breakpoint($odd-screen) {
    display: none;
  }
}

#calendarContainer {
  display: none;
  float: left;
  margin: 0 auto;
  width: 100%;
  @include breakpoint($small-screen-max) {
    &.open {
      display: block;
    }
  }
  @include breakpoint($odd-screen) {
    margin: 0 5px;
    display: block;
  }
  .year,
  .month {
  	width: 100%;
  }
  label {
    margin: 0;
  }
  > .calendar.small {
    margin: 0 auto;
    @include breakpoint($odd-screen) {
      width: 300px;
      height: 300px;
    }
    @include breakpoint($standard-screen) {
      width: 400px;
      height: 400px;
    }
  }
}

#organizerContainer {
  display: none;
	.date {
		width: 100%;
	}
}