/* components/event/_countdown.scss */

.countdown {
  // @extend %box-shadow;
  .container {
    display: inline-block;
    width: 100%;
    @include breakpoint($odd-screen) {
      padding: 0 ms(-1);
    }
    @include breakpoint($wide-screen) {
      padding: 0 6.38298%;
    }
    .time-container {
      float: left;
      width: calc((100% / 4) - 4px);
      margin: 10px 5px;
      margin-left: 0;
      @include breakpoint($small-screen-max) {
        width: calc((100% / 4) - 15px);
        margin: 10px;
      }
      @include breakpoint($narrow-screen) {
        width: calc((100% / 4) - 9px);
        margin: 10px 5px;
      }
      @include breakpoint($standard-screen) {
        width: calc((100% / 4) - 16px);
        margin: 10px 8px;
      }
      &.last {
        margin-right: 0;
      }
      label {
        font-size: ms(-1);
        color: $dark-grey;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      div.digits {
        display: block;
        width: 90%;
        margin: 0 auto;
        @include breakpoint($small-screen-max) {
          width: 75%;
        }
      }
    	div.digit {
        float: left;
        width: calc(50% - (2px / 2));
        margin-right: 1px;
        @extend %outline;
        border: 1px solid rgba($dark-grey,.5);
        @include breakpoint($small-screen-max) {
          width: calc(50% - (5px / 2));
        }
        @include breakpoint($narrow-screen) {
          margin-right: 2px;
        }
        @include breakpoint($standard-screen) {
          margin-right: 5px;
        }
        p {
          margin: 5px 0;
          text-align: center;
          font-size: ms(2);
        }
        &.last {
          margin-right: 0;
        }
      }
    }
  }
}