/* components/event/_countdown.scss */

.details {
  .location {
    margin: 20px 0 0;
    text-align: center;
    p {
      font-size: ms();
      @include breakpoint($narrow-screen) {
        font-size: .9em;
      }
    }
  }
  .hearts {
    width: 30%;
    margin: 25px auto 30px;
    @include breakpoint($standard-screen) {
      width: 20%;
    }
  }
}

section.event {
  .information {
    text-align: center;
    p {
      font-size: ms(-1);
      @include breakpoint($small-screen-max) {
        font-size: .9em;
      }
    }
    &.mobile {
      display: inline-block;
      width: 100%;
      p {
        width: 80%;
        margin: 20px auto 0;
      }
    }
  }
}