.hotels {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
  h3 {
    color: $xdark-grey;
    font-weight: normal;
  }
  ul.results {
    display: inline-block;
    width: 100%;
    padding: 0;
    li.hotel {
      list-style-type: none;
      width: 100%;
      @include breakpoint($small-screen-max) {
        width: calc(100% / 2);
      }
      @include breakpoint($odd-screen) {
        width: calc(100% / 4);
      }
      float: left;
      padding: 10px;
      div.hotel--name {
        margin-bottom: calc(1em / 2);
        p {
          font-size: ms(1);
          margin: 0;
        }
      }
      div.hotel--rating {
        display: inline-block;
        width: 100%;
        margin-bottom: ms();
        p {
          float: left;
          margin-bottom: 0;
          font-size: .9em;
          &.hotel--rating-number {
            margin-right: 10px;
          }
          &.hotel--star-rating {
          }
        }
      }
      div.details {
        .hotel--address,
        .hotel--phone,
        .hotel--website {
          font-size: .9em;
          span.icon {
            position: relative;
            margin: 0;
            margin-right: 5px;
            width: 20px;
            height: 16px;
            display: inline-block;
            font-size: ms(1);
            &:before {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 70%;
              margin: auto;
            }
          }
          a {
            text-decoration: none;
            font-weight: bold;
            font-size: .9em;
            &:hover {
              color: $light-grey;
            }
          }
        }
        .hotel--address {
          span.icon {
            font-size: 1.3em;
            &:before {
              @extend %icon-map-marker;
            }
          }
        }
        .hotel--phone {
          span.icon:before {
            @extend %icon-phone;
          }
        }
        .hotel--website {
          span.icon:before {
            @extend %icon-globe;
          }
        }

        .viewReviews {
          width: 100%;
          text-align: center;
          @include center;
          padding: 10px;
          background-color: $dark-grey;
          margin-bottom: 30px;
          p {
            margin-bottom: 0;
            color: $light-grey;
          }
        }
        div.hotel--reviews {
          height: 0;
          overflow: hidden;
          &.open {
            height: auto;
          }
          div.review {
            .review--review--long {
              display: none;
            }
          }
          div.review-container {
            div.reviewer {
              p.reviewer--name {
                span.label {

                }
              }
            }
            div.review {
              p.review--star-rating {
              }
              p.review--time-ago {

              }
              p.review--review--short,
              p.review--review--long {

              }
            }
          }
        }
      }
    }
  }
  .hotel--star-rating,
  .review--star-rating {
    span.star {
      &:before {
        @extend %icon-star-o;
      }
    }
    &.rating--1,
    &.rating--2,
    &.rating--3,
    &.rating--4,
    &.rating--5 {
      span.star.star--1 {
        &:before {
          @extend %icon-star;
        }
      }
    }
    &.rating--2,
    &.rating--3,
    &.rating--4,
    &.rating--5 {
      span.star.star--2 {
        &:before {
          @extend %icon-star;
        }
      }
    }
    &.rating--3,
    &.rating--4,
    &.rating--5 {
      span.star.star--3 {
        &:before {
          @extend %icon-star;
        }
      }
    }
    &.rating--4,
    &.rating--5 {
      span.star.star--4 {
        &:before {
          @extend %icon-star;
        }
      }
    }
    &.rating--5 {
      span.star.star--5 {
        &:before {
          @extend %icon-star;
        }
      }
    }
  }
}