/* components/rsvp/_form.scss */

section.rsvp {
	form {
    div.field {
      margin-bottom: 10px;
      @include breakpoint($standard-screen) {
        margin-bottom: 20px;
      }
      &.disabled {
        pointer-events: none;
        opacity: .3;
      }
      &.field-submit {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      display: inline-block;
      width: 100%;
  		label {
        &.field-label {
          text-align: left;
          @include breakpoint($standard-screen) {
            text-align: right;
          }
    			p:not(.wordcount) {
            float: none;
            width: 80%;
            @include center;
            font-size: ms(-1);
            @include breakpoint($standard-screen) {
              float: left;
              padding-right: 10px;
              width: 50%;
              font-size: ms();
            }
            &:after {
              content: '*';
              opacity: 0;
              padding-left: 5px;
              color: $blue;
            }
    			}
        }
        &.radio-option {
          position: relative;
          display: inline-block;
          margin-right: 25px;
          p {
            margin: 0 0 0 30px;
            font-size: .9em;
            @include breakpoint($standard-screen) {
              font-size: ms();
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
  		}
      &.required {
        label.field-label p:after {
          opacity: 1;
        }
      }
      &.field-name--email {
        position: relative;
        .whyweneedit {
          // position: absolute;
          top: 0;
          left: auto;
          right: 0;
          padding: 10px;
          background-color: $blue;
          color: white;
          margin-left: 10px;
          z-index: 10;
          // width: 40%;
          width: 251px;
          font-size: .9em;
          @extend %outline;
          opacity: 0;
          visibility: none;
          &.visible {
            opacity: 1;
            visibility: visible;

            -webkit-transition: opacity 1s, visibility 1s linear;
            transition: opacity 1s, visibility 1s linear;
          }
          display: none;
          @include breakpoint($standard-screen) {
            display: block;
            position: absolute;
            left: 100%;
            right: auto;
          }
        }
      }
      &.field-radios {
        /* Customize the label (the container) */
        display: block;
        position: relative;
        cursor: pointer;
        width: 80%;
        @include center;
        margin-bottom: 10px;
        @include breakpoint($standard-screen) {
          width: auto;
          margin-bottom: 15px;
        }

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        label.field-label {
          p {
            width: 100%;
            @include breakpoint($standard-screen) {
              width: 50%;
            }
          }
        }
      }
      &.field-password-field {
        font-size: 1em;
        margin-bottom: 15px;
        @include breakpoint($standard-screen) {
          font-size: .8em;
          margin-bottom: 10px;
        }
        label.field-label {
          width: 80%;
          display: block;
          margin: 0 auto;
          @include breakpoint($standard-screen) {
            width: 185px;
          }
          p {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding-right: 0;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
          }
        }
      }
      p.wordcount {
        width: 80%;
        padding: 0;
        margin: 0 auto;
        font-size: .7em;
        text-align: right;
        @include breakpoint($standard-screen) {
          width: auto;
          float: right;
          margin: auto;
          margin-top: 5px;
        }
      }
      &.field-submit {
        span.hint {
          margin: 10px auto 0;
          text-align: center;
          color: $xdark-grey;
          font-weight: $bold;
        }
      }
      &.field-textarea {
        label.field-label {
          p:after {
            content: none;
          }
        }
        span.hint {
          display: block;
          width: 100%;
          float: left;
          margin: 5px 0;
          @include breakpoint($standard-screen) {
            width: 50%;
            float: right;
            margin: auto;
            margin-top: 10px;
          }
        }
      }
      input {
        border: none;
        @extend %outline;
      }
      input[type=text],
  		input[type=password],
      textarea {
        padding: 8px;
  		}
      input[type=text],
      textarea {
        width: 80%;
        @include center;
        @include breakpoint($standard-screen) {
          width: 50%;
          margin: 0;
        }
        &.hidden {
          display: none;
        }
      }
      span.hint {
        display: block;
        margin: 5px auto;
        font-size: .7em;
        color: $xdark-grey;
        width: 80%;
        @include breakpoint($standard-screen) {
          width: 50%;
          display: none;
        }
        &.email {
          display: none;
          color: $blue;
          text-transform: uppercase;
          // font-size: 8px;
          letter-spacing: 1px;
          margin: 5px auto;
          &:hover {
            cursor: pointer;
            // color: $grey;
            color: $light-blue;
          }
          @include breakpoint($standard-screen) {
            display: inline-block;
          }
        }
      }
      input:not([type=submit]):focus + span.hint {
        display: block;
        margin: 5px auto;
        @include breakpoint($standard-screen) {
          display: inline-block;
          margin: auto;
        }
      }
      input[type=radio] {
        margin-right: 10px;
        /* Hide the browser's default radio button */
        position: absolute;
        opacity: 0;
        /* When the radio button is checked, add a blue background */
        &:checked {
          ~ .checkmark {
            background-color: $blue;
            &:after {
              display: block;
            }
          }
          &:hover {
            ~ .checkmark {
              background-color: $blue;
            }
          }
        }
      }
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $light-blue;
        border-radius: 50%;
        margin: auto;
        height: 17px;
        width: 17px;
        @include breakpoint($standard-screen) {
          height: 20px;
          width: 20px;
        }
        /* Create the indicator (the dot/circle - hidden when not checked) */
        &:after {
          content: '';
          position: absolute;
          display: none;

          /* Style the indicator (dot/circle) */
          top: 6px;
          left: 6px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: white;

          @include breakpoint($standard-screen) {
            left: 40%;
            top: 6.75px;
            left: 6.75px;
            width: 7px;
            height: 7px;
          }
        }
      }
      /* On mouse-over, add a grey background color */
      input[type=radio]:hover ~ .checkmark {
        background-color: $teal;
      }
      input[type=password],
      input[type=submit] {
        text-align: center;
        @include center;
      }
      input[type=submit] {
        background: none;
        padding: 10px;
        box-shadow: none;
        border: none;
        color: white;
        // background-color: $dark-grey;
        background-color: $blue;
        @extend %transition;
        &:hover {
          cursor: pointer;
          // background-color: $xdark-grey;
          background-color: $light-blue;
          @extend %transition;
        }
        &:disabled {
          &:hover {
            cursor: default;
            background-color: $blue;
            + span.hint {
              display: block;
            }
          }
        }
      }
    }
	}
}