/* components/rsvp/_meal-options.scss */

.meal-options {
  width: 90%;
  @include center;
	.invitation {
		text-align: center;
		width: 95%;
		margin: 0 auto 20px;
    font-size: .9em;
    @include breakpoint($standard-screen) {
    	width: 80%;
    }
	}

	ul {
		display: inline-block;
		width: 100%;
		padding: 0;
    margin-bottom: 0;
    @include breakpoint($standard-screen) {
    	padding: 0 100px;
    }
		li {
			float: left;
			list-style-type: none;
			width: calc((100% / 4) - 15px);
			margin-right: 20px;
      margin-bottom: 0;
      padding: 10px;
      @include breakpoint($standard-screen) {
      	padding: 20px;
      }
			&.last {
				margin-right: 0;
			}
			img {
				max-width: 100%;
				max-height: 100%;
				@include center;
			}
		}
	}
}