/* components/bridalparty/_bridesmaids.scss */

section.bridalparty div.bridesmaids {
	.slick-carousel.bridesmaids {
		div.profilepic {
      float: left;
      @include breakpoint($medium-screen) {
        margin-left: 20px;
      }
      @include breakpoint($standard-screen) {
        margin-left: 50px;
      }
      div.picture {
        float: none;
        margin-right: auto;
        @include breakpoint($medium-screen) {
          float: right;
        }
        @include breakpoint($standard-screen) {
          margin-right: 50px;
        }
      }
    }

    div.party--information {
      // border: 1px solid $dark-grey;
      // @extend %outline;
      float: left;
      @include breakpoint($narrow-screen) {
        float: none;
        display: inline-block;
        margin: 0 auto;
      }
      @include breakpoint($standard-screen) {
        float: left;
        display: block;
        // margin-right: 50px;
      }
      svg {
        &#drop,
        &.svg--drop {
          right: 98%;
          path {
            &:nth-child(2) {
              stroke: white;
              fill: white;
            }
          }

          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }
      }
    }
	}
}