/* components/bridalparty/_groomsmen.scss */

section.bridalparty div.groomsmen {
	.slick-carousel.groomsmen {
		div.profilepic {
      float: left;
      @include breakpoint($medium-screen) {
        float: right;
        margin-right: 20px;
      }
      @include breakpoint($standard-screen) {
        margin-right: 0;
      }
      div.picture {
        float: none;
        margin-right: auto;
        @include breakpoint($medium-screen) {
          float: left;
        }
        @include breakpoint($standard-screen) {
          margin-left: 50px;
        }
      }
    }

    div.party--information {
      // border: 1px solid $xdark-grey;
      float: left;
      margin-right: 50px;
      @include breakpoint($narrow-screen) {
        float: none;
        display: inline-block;
        margin: 0 auto;
      }
      @include breakpoint($standard-screen) {
        float: right;
        display: block;
      }
      svg {
        &#drop,
        &.svg--drop {
          left: 98%;
          path {
            &:nth-child(2) {
              stroke: white;
              fill: white;
            }
          }

          -moz-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
	}
}