div.guest-count {
  background-color: white;
  @extend %outline;
  border-right: 0;
  border-left: 0;
  .list {
    @include center;
    width: 30%;
    ul {
      display: inline-block;
      width: 100%;
      padding: 0;
      margin: 1em 0;
      li {
        float: left;
        width: calc(100% / 3);
        list-style-type: none;
        text-align: center;
        margin: 0;
        .count {
          font-size: ms(2);
          color: $blue;
          font-weight: $xbold;
        }
      }
    }
  }
}