/* components/ourstory/_details.scss */

.year-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  padding: 20px;
  @extend %transition;
  @include breakpoint($small-screen-max) {
    left: 10%;
    right: 10%;
  }
  @include breakpoint($narrow-screen) {
    padding: 50px;
  }
  @include breakpoint($medium-screen) {
    left: 20%;
    right: 20%;
  }
  &.closed {
    top: 100%;
    bottom: 0;
    @extend %transition;
  }
  p {
    &.year {
      font-size: ms(4);
      font-family: $font5;
      margin: 1em 0 .2em;
      line-height: 1em;
      @include breakpoint($narrow-screen) {
        // font-size: ms(4);
        margin: .5em 0 .2em;
      }
      @include breakpoint($standard-screen-max) {
        font-size: ms(6);
      }
    }
    &.title {
      font-size: .9em;
      @include breakpoint($narrow-screen) {
        font-size: ms();
      }
      @include breakpoint($standard-screen-max) {
        font-size: ms(1);
      }
    }
    &.writeup {
      width: 90%;
      margin: 2em auto;
      font-size: .8em;
      line-height: ms(2);
      @include breakpoint($small-screen-max) {
        margin: 3em auto;
        line-height: ms(3);
      }
      @include breakpoint($narrow-screen) {
        font-size: .9em;
      }
      @include breakpoint($medium-screen) {
        font-size: ms();
      }
      @include breakpoint($super-wide-screen) {
        width: 75%;
      }
    }
  }
  .hearts {
    width: 30%;
    @include breakpoint($standard-screen) {
      width: 15%;
    }
  }
}