/* components/ourstory/_slider.scss */

.slick-carousel.ourstory {
  text-align: center;
  height: 100%;
  .slide {
    position: relative;
    .readmore {
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      div.marker {
        display: inline-block;
        position: relative;
        text-align: center;
        outline: none;
        p {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 29px;
          padding: 0;
          width: 50%;
          border-top: .5px solid $grey;
          border-bottom: .5px solid $grey;
          font-size: .9em;
          @include breakpoint($small-screen-max) {
            height: 35px;
            padding: 5px 0;
          }
          &:hover {
            border-top-color: $light-grey;
            border-bottom-color: $light-grey;
            color: $light-grey;
            cursor: pointer;
          }
        }
      }
      svg {
        width: 75%;
        @include breakpoint($narrow-screen) {
          width: auto;
        }
        polygon {
          fill: white;
        }
        path {
          fill: #2d2d2d;

          // mix-blend-mode: normal;
          // mix-blend-mode: multiply;
          mix-blend-mode: screen;
          // mix-blend-mode: overlay;
          // mix-blend-mode: darken;
          // mix-blend-mode: lighten;
          // mix-blend-mode: color-dodge;
          // mix-blend-mode: color-burn;
          // mix-blend-mode: hard-light;
          // mix-blend-mode: soft-light;
          // mix-blend-mode: difference;
          // mix-blend-mode: exclusion;
          // mix-blend-mode: hue;
          // mix-blend-mode: saturation;
          // mix-blend-mode: color;
          // mix-blend-mode: luminosity;
        }
      }
    }
    .background {
      background-size: cover;
      background-color: shade($brand7,.7);
      background-position: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
      background-blend-mode: multiply;
    }
  }
  .slick-dots {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
