/* components/ourstory/_title-header.scss */

section.ourstory {
  background-color: $xdark-grey;
	.title-header {
		.story-year {
			font-size: ms(6);
			margin-bottom: 0;
      font-family: $font5;
      @include breakpoint($small-screen-max) {
        font-size: ms(7);
      }
		}
    .hearts {
      &:before,
      &:after {
        border-bottom: .1em solid $grey;
      }
    }
    .title {
      font-size: ms();
      @include breakpoint($small-screen-max) {
        font-size: ms(1);
      }
    }
		p {
			color: $light-grey;
		}
	}
}